<section id="game-area" class="game invisible-game">
    <div id="dino">
        {% include "Home/dino.html" %}
    </div>

    <div id="answer">
        {% include "Home/answer.html" %}
    </div>
</section>