{% extends 'layout.html.twig' %}

{% block content %}

{% include "Home/header.html.twig" %}
{% include "Home/kata.html.twig" %}
<div class="">
    {% include "Home/game-answer.html.twig" %}
</div>
{% endblock %}
