{% extends 'layout.html.twig' %}

{% block content %}

{% include "Home/header.html.twig" %}
{% include "Home/kata.html.twig" %}
<div class="border border-3 border-secondary rounded-3 ">
    {% include "Home/game.html.twig" %}
</div>
{% endblock %}
