<section class="kata">
    <div class="container">
        <div class="qa row row-cols-md-2 py-4">

            <div class="l-part col">
            
                <div class="btn btn-primary p-color w-100">Générer un Kata</div>

                <div class="gif rounded-3">
                
                {% include "API/giphy.html.twig" %}
                
                </div>

                <div class="instructions">
                        <div>
                              <p> {{ kata.énoncé }}</p>

                        </div>
                </div>

                <div class="rtfm btn btn-primary p-color w-100">RTFM</div>
            </div>

            <div class="r-part col">
                
                <div class="d-flex">
                    <div class="btn btn-primary p-color">Start</div>
                    <div class="timer flex-grow-1 border border-secondary s-color border-4 rounded-3 text-center">Compte a rebourd</div>
                </div>

                <div>
                    <form action="/">
                        <div class="form-floating">
                            <textarea class="answer-txt border-3 border-secondary s-color rounded-3 w-100 form-control" placeholder="Code ta réponse ici." type="text-area" name="answer" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Ton algorythme</label>
                        </div>

                        <div class="d-flex">
                            <div class="btn btn-secondary s-color flex-grow-1" id="pause-btn"></div>
                            <div type="submit" class="btn btn-primary p-color flex-grow-1">Submit</div>
                        </div>

                    </form>

                    <div class="btn btn-outline-info">Montrer la réponse</div>
                    <div class="btn btn-success">Réussi !</div>
                    <div class="btn btn-danger">Raté !</div>

                </div>

            </div>

        </div>
    </div>
</section>