<div class="header container-fluid py-4">
        <nav class="navbar navbar-expand nav-bg-color shadow-sm navbar-bottom">
            <div
                class="container-fluid">
                {# left side of navbar #}
                <a class="navbar-brand" href="">
                    <img src="public/assets/images/logo.png" class="" alt="logo">
                </a>
                {# right side of navbar#}
                <div class="justify-content-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {# Register #}
                            <div class="container-fluid">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                  <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                      <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Langages
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" href="#">PHP</a></li>
                                        <li><a class="dropdown-item" href="#">JavaScript</a></li>
                                        <li><a class="dropdown-item" href="#">Python</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            {# logon #}
                            <li class="nav-item">
                                <a class="nav-link" href="">
                                    <button type="button" class="btn">Logout</button>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>