:root {

    /* Colors */

    --p-color: #00ffc5;
    --s-color: #481620;
    --a-color: #b00b8de9;
    --b-color: #0075A2;
    --light-color: white;

    /* Anim */

    --main-anim: .4s cubic-bezier(0,0.2,0,1);

    /* Spacing */
}



.rtfm:hover a {
  text-decoration: none;
  color: var(--light-color)!important;
}

.kata {
    background-color: var(--b-color)!important;
}

.footer {
    background-color: var(--light-color);
}

.header {
    background-color: var(--light-color);
}

.kata .qa {
    height: fit-content;
}

.answer-txt {
    height: 250px;
}

.p-color {
    background-color: var(--p-color);
    color: var(--a-color);
}

.pb-color {
    background-color: var(--p-color);
    color: var(--a-color);
}

.p-color:hover {
    background-color: var(--a-color);
    color: var(--light-color);
}

.s-color {
    background-color: var(--a-color);
    color: var(--light-color);
}

.sb-color {
    background-color: var(--a-color);
    color: var(--light-color);
}

.sb-color:hover {
    background-color: var(--light-color);
    color: var(--a-color);
}

#game-area {
    display: grid;
    grid-template-rows: 1fr;
    transition: var(--main-anim);
}

.invisible-game {
    grid-template-rows: 0fr!important;
}

#dino {
    overflow: hidden;
}

#answer {
    overflow: hidden;
}
  
.emot {
    height: 20px;
    width: 20px;
}
/* Timer */

#timer{
    font-weight: bold;
  }

 .logo {
    width: 130px;
  }

/* PopUp Answer */

  .modal {
    display: none;
  }
  .modal-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, .25 )
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    min-width: 300px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 5px;
    background: white;
    transform: translate(-50%, -50%)
  }

  .modal-container p, h1{
    color: var(--s-color);
  }

  .modal-container h1{
    color: var(--s-color);
  }

  #modal-close{
    background-color: var(--p-color);
    color: var(--s-color);
    vertical-align: center;
  }
  #popupbtn{
    background-color: var(--p-color);
    color: var(--s-color);
  }

