:root {

    /* Colors */

    --p-color: #00ffc5;
    --s-color: #481620;
    --a-color: #d55672;
    --b-color: #0075A2;
    --light-color: white;

    /* Anim */

    

    /* Spacing */
}

.kata {
    background-color: var(--b-color)!important;
}

.footer {
    background-color: var(--a-color);
}

.header {
    background-color: var(--a-color);
}

.kata .qa {
    height: fit-content;
}

.answer-txt {
    height: 250px;
}

.p-color {
    background-color: var(--p-color);
    color: var(--a-color);
}

.s-color {
    background-color: var(--s-color);
    color: var(--a-color);
}